---
import TextBtn from "~/components/ui/buttons/TextBtn.astro";

const iconSize = 21;
const { page, class: className, ...rest } = Astro.props;
---

<nav class:list={["flex justify-center", className]} {...rest}>
  <ul class="flex items-center">
    <li class="flex w-1/4 justify-end">
      {
        page.url.prev ? (
          <TextBtn
            href={page.url.prev}
            label="Previous"
            icon="material-symbols:arrow-left-alt"
            iconSize={iconSize}
            iconReverse={true}
            aria-label={`Go to previous page, page ${page.currentPage - 1}`}
          />
        ) : (
          <TextBtn
            disabled={true}
            label="Previous"
            icon="material-symbols:arrow-left-alt"
            iconSize={iconSize}
            iconReverse={true}
            aria-disabled="true"
          />
        )
      }
    </li>

    <li class="flex w-1/2 justify-center">
      <span class="px-4" aria-label="current page">
        Page {page.currentPage} of {page.lastPage}
      </span>
    </li>

    <li class="flex w-1/4 justify-end">
      {
        page.url.next ? (
          <TextBtn
            href={page.url.next}
            label="Next"
            icon="material-symbols:arrow-right-alt"
            iconSize={iconSize}
            aria-label={`Go to next page, page ${page.currentPage + 1}`}
          />
        ) : (
          <TextBtn
            disabled={true}
            label="Next"
            icon="material-symbols:arrow-right-alt"
            iconSize={iconSize}
            aria-disabled="true"
          />
        )
      }
    </li>
  </ul>
</nav>
