---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"time"> {
  date: Date;
  hideIcon?: boolean;
}

const { date, hideIcon, class: className }: Props = Astro.props;

const ordinal = (day: number) => {
  const suffixSet = ["th", "st", "nd", "rd"];
  if (day > 3 && day < 21) return suffixSet[0];
  switch (day % 10) {
    case 1:
      return suffixSet[1];
    case 2:
      return suffixSet[2];
    case 3:
      return suffixSet[3];
    default:
      return suffixSet[0];
  }
};

const day = date.getDate();
const month = date.toLocaleString("en-GB", { month: "long" });
const year = date.getFullYear();

const formattedDate = `${day}${ordinal(day)} ${month} ${year}`;
---

<time
  class:list={["flex items-center self-center", !hideIcon ? "gap-1" : "", className]}
  datetime={date.toISOString()}
  lang="en-GB"
>
  {
    !hideIcon && (
      <Icon
        name="material-symbols:calendar-today-outline"
        height={21}
        width={21}
        class="self-center"
      />
    )
  }

  <span class="p-1 leading-none">{formattedDate}</span>
</time>
